:root {
    --bottom: 30px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: inherit
}

body {
    position: relative;
    z-index: -1;
    width: 100%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}



@keyframes downUp {
    0% {
        bottom: calc(var(--bottom) + 10px);
    }

    50% {
        bottom: var(--bottom);
    }

    100% {
        bottom: calc(var(--bottom) + 10px);
    }
}

.container {
    display: block;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px
}

.promo {
    position: relative;
    height: 100vh;
    background: #000 url(../img/programming.jpeg) center center/cover no-repeat;
    z-index: -1
}

.promo::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    z-index: -1
}

.promo__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.promo__title {
    max-width: 800px;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: #ffcf4b
}

.social-items {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center
}

.social-item {
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all .3s
}

.social-item.active {
    opacity: .7;
    visibility: visible
}

.social-item+.social-item {
    margin-left: 20px
}

.social-img {
    width: 60px;
    height: 60px
}

.arrow__img {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: var(--bottom);
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    width: 22px;
    height: 33px;
    cursor: pointer;
    animation: downUp 1s infinite;
    transition: all .3s
}

.arrow__img.active {
    opacity: 1;
    visibility: visible;
    transition: all .3s
}

.technologies {
    font-weight: 700;
    padding: 80px 0;
    height: 100%;
    background: #fff
}

.title {
    position: relative;
    font-weight: 700;
    text-align: center;
    font-size: 35px;
    color: #222;
    margin-bottom: 55px
}

.title::before {
    content: '';
    position: absolute;
    display: block;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background: #ffcf4b
}

.technologies__items {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, minmax(270px, auto));
    gap: 15px
}


.technologies__item-block {
    color: #000;
    position: relative;
    width: 270px;
    min-height: 270px;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 30px 30px 25px 30px;
    background: rgba(255, 255, 255, .8);
    transition: all .3s
}

.technologies__item-img {
    top: 30px;
    position: absolute
}

.technologies__item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.25;
    margin-top: 85px;
    margin-bottom: 15px
}

.technologies__item-descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25
}

.portfolio {
    padding: 80px 0;
    position: relative;
    height: 100%;
    background: #000 url(../img/bg__main.jpg) center center/cover no-repeat;
    z-index: -1
}

.portfolio::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: -1
}

.portfolio__title {
    color: #fff
}

.portfolio__title::before {
    background: #ffcf4b
}

.portfolio__items {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 270px);
    grid-auto-rows: 270px;
    gap: 15px
}

.portfolio__item {
    position: relative;
    z-index: 10;
    cursor: pointer;
    opacity: .8;
    transition: all .3s
}

.portfolio__img-inner {
    width: 270px;
    height: 270px;
    overflow: hidden
}

.portfolio__img-inner img {
    width: 100%;
    object-fit: cover;
    cursor: pointer
}

@media (max-width:1200px) {
    .promo__title {
        font-size: 50px
    }

    .portfolio__items,
    .technologies__items {
        display: grid;
        grid-template-columns: repeat(3, 270px);
        grid-template-rows: repeat(3, minmax(270, auto));
        gap: 0;
        row-gap: 30px
    }
}

@media (max-width:992px) {
    .promo__title {
        font-size: 40px
    }
}

@media (max-width:900px) {

    .portfolio__items,
    .technologies__items {
        justify-content: space-evenly;
        grid-template-columns: repeat(2, 270px);
        grid-template-rows: repeat(4, minmax(270, auto));
        gap: 0;
        row-gap: 30px
    }
}

@media (max-width:778px) {

    .promo {
        height: calc(100vh - 50px);
    }

    .promo::before {
        height: calc(100vh - 50px);
    }

    .promo__title {
        font-size: 30px
    }

    .social-item.active {
        opacity: 1;
        visibility: visible
    }

    .social-img {
        width: 50px;
        height: 50px
    }
}

@media (max-width:676px) {

    .portfolio,
    .technologies {
        padding: 40px 0
    }

    .title {
        font-size: 22px;
        margin-bottom: 45px
    }

    .portfolio__items,
    .technologies__items {
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 0;
        row-gap: 10px
    }

    .technologies__item-block {
        width: 100%;
        min-height: auto
    }

    .technologies__item-title {
        font-size: 4vw
    }

    .technologies__item-descr {
        font-size: 3.5vw
    }

    .portfolio__img-inner {
        width: 100%;
        height: 270px;
        overflow: hidden
    }
}

@media (max-width:580px) {
    .promo__title {
        font-size: 8vw
    }
}

@media (max-width:415px) {
    .promo__title {
        width: 375px;
        font-size: 8vw
    }
}

@media (max-width:375px) {
    .promo__title {
        width: 300px;
        font-size: 8vw
    }
}

@media (min-width:768px) {
    .portfolio__item:hover {
        position: relative;
        transform: translateY(-7px);
        transition: all .3s;
        opacity: 1
    }

    .social-item:hover {
        opacity: 1;
        transition: all .3s
    }
}
